
body {
    background-color: #000000;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
canvas {
    background-color:#111133;
    display:block;
    position:absolute;
}
.container {
    text-align:center;
    background-color:#000000;
}
.drawcanvas {
    width:  100%;
    height: 100%;
    margin: 0px;
    text-align:center;
    background-color:#000000;
}
