
body {
    background-color:#111133;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: FreeMono, monospace;

}

.container{
    width:800px;
    color: #fff;
    margin-left:auto;
    margin-right:auto;
    font-size:16px;
}

.terminal {
    font-size:16px;
    color: #fff;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:150px;
}

.command {
    color: #03ff59;
}

input[type="text"], textarea {
    -webkit-box-sizing: border-box;
    background-color:#111133;
    font-size:16px;
    font-family: FreeMono, monospace;
    color: #fff;
    box-sizing: border-box;
    width: 80%;
    padding-right: 10px;
    border: none;
}

:focus {
    outline:0 none;
}

p{
    line-height: 0;
}

.nospace{
    line-height: 0;
}

.error{
    color: #f92c18;
}

.mobile_info{
    display: none;
    font-size:14px;
}

.enterButton {
    margin-top: -5px;
    background-color:#111133;
    border:1px solid #03ff59;
    color:#03ff59;
    font-weight:bold;
    font-style:normal;
    font-family: FreeMono, monospace;
    font-size:16px;
    height:30px;
    line-height:20px;
    width:100px;
    text-decoration:none;
    text-align:center;
    display: inline-block;
    float: right;

}.enterButton:active {
    color: #000000;
    background-color: #03ff59;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width: 480px){
    #header {
        height: auto;
    }
    .terminal {
        display: none;
    }
    input[type="text"], textarea {
        width: 50%;
        font-size:14px;
    }
    .container{
        width: auto;
    }

    .mobile_info{
        margin-top: 20px;
        display: block;
        padding-bottom: 15px;
        width: auto;
        overflow: auto;
    }
    .enterButton{
        font-size:14px;
        width:50px;
    }
}